<footer>
  <div class="container">
    <div class="footer-container">
      <div class="footer-col">
        <h3>Let’s Connect</h3>
       
        <div class="social-links">
        <a href="mailto:hello@kateratemo.co.ke"><i class="fas fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/kateratemo/"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com/katie360"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/kateratemo/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
      <div class="footer-col">
  <h3>Collaborators & Partners</h3>
  <p>Organizations, communities, and teams I’ve worked with or contributed to.</p>
  <div class="company-logos">
    <a href="https://innova.co.ke/" target="_blank">
     <img src="/assets/images/innova.png" alt="Innova Limited logo" width="170" >
    </a>
    <a href="https://gdg.community.dev/gdg-nairobi/" target="_blank">
    <img src="/assets/images/gdglogo.png" alt="GDG Nairobi logo" width="170" >
    </a>
    <a href="https://techtwirls.co.ke/" target="_blank">
    <img src="/assets/images/techtwirlslogo.png" alt="TechTwirls logo" width="170" >
    </a>
  </div>
</div>

    </div>
    <div class="copyright">
      <p>&copy; <span id="current-year"></span> Kate Ratemo. All rights reserved.</p>
    </div>
  </div>
</footer>
<script>document.getElementById('current-year').textContent = new Date().getFullYear();</script>
