<header>
  <div class="container header-container">
    <a href="/" class="logo"><img src="/assets/images/katie.png" alt="katie"></a>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About Me</a></li>
        <li><a href="/portfolio.html">Projects</a></li>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <button class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </div>
</header>
